{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cover Art Generator</title>
</head>

<body>
    <header class="">
        <nav class="max-w-6xl mt-8 mx-auto flex flex-col gap-4 sm: gap-0 sm:flex-row justify-between items-center">
            <div class="text-xl font-extrabold">CoverArtist<span class="text-indigo-600">.ai</span></div>
            <div class="flex space-x-2 items-center">
                <a href="" class="">
                    <div class="text-md font-semibold py-2 px-4 hover:bg-slate-100">
                        Login</div>
                </a>
                <a href="">
                    <div class="text-md font-bold py-2 px-4 border-2 border-black text-white bg-black">Get Started
                    </div>
                </a>

            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>